<md-content>
    <!--<md-toolbar>
        <div class="md-toolbar-tools">
            DOCUMENTATION
        </div>
    </md-toolbar>-->
    <md-content layout-padding style="font-size:15px">
        <img src="/img/background_freelancer_image.png" width="1200px" alt="">

        <p>
            Freelance app is a very secure user interation medium which deals with all the sophisticated complication between users in much handy way. Every input is securly managed and processed .
        </p>

        <md-content layout="row">
            <md-content layout="column" flex="50">

                <h3>
                    <md-icon ng-bind="'supervisor_account'"></md-icon>
                    <b>HIRE MODE</b>
                </h3>
                <p class="textData">
                    Hire mode helps the users to hire the other users of the app for a relevant job. In todays generation the main problem is that we dont get a person easily who is perfect for our job, but the app helps the users to have a large number of options of the
                    workers and from among the workers the user can select the best suited worker who is willing to do the job. The user can see the details and ratings of the worker and according to that the user can appoint a job to the worker. The
                    advantage of this mode is that the user does not need to contact to different persons or go to different places in search for a perfect person who can do the job instead the user can get the worker instantly through the app without
                    wasting time and money. Now hiring a worker becomes too easy and can be done on clicks.
                </p>
            </md-content>
            <md-content flex="50" layout-padding>
                <img src="/img/hire.png" alt="" width="500px" height="370px">
            </md-content>
        </md-content>



        <md-content layout="row">
            <md-content flex="50" layout-padding>
                <img src="/img/work.png" alt="" width="550px" height="450px">
            </md-content>
            <md-content layout="column" flex="50">
                <h3>
                    <md-icon ng-bind="'work'"></md-icon>
                    <b>WORK MODE</b>
                </h3>
                <p class="textData">
                    Work Mode helps the users to get hired or get employed for a particular job by other users of the app. This mode helps the user to get a job quickly and earn money instantly. Tis mode mainly caters to he category of people who are skilled emough to do
                    the work but doesn't have a degree, those who are jobless and those users who get some free time after doing there job, so this apps helps them to get employed to a particuar work and earn money. The advantage of this mode is that
                    the user will not have to run for a degre if the user is skilled enough to do the work, there are many persons who know to do the job efficiently but doesn't get the job because of not having a degree. It also helps the user to get
                    employed to a work in which they have interest. Now get employed quickly, just download the and be ready to employed soon..
                </p>
            </md-content>
        </md-content>

        <h3>
            <md-icon ng-bind="'developer_mode'"></md-icon>
            <b>MODES</b>
        </h3>
        <p class="textData">

            <p class="textData">
                A user can switch modes between <b>work</b> and <b>hire</b> process . He/She can both work and hire employees for a work simultaneously . A user can hire a single person or a group for a project . Hiring process is simple in which a user
                needs to be in hire mode . Whenever he clicks on the post project button a window open for project details . Once its filled up a list of freelancer is enlisted . After freelancer are chosen and a project is posted a notifcitaion is sent
                individually to each freelancers and a window with set preset count down starts . Within that count down a worker is needed to respond to the project. After a user accepts a project he/she can have a chat with the employer for futher negotitaion
                . Final step includes the freelancer hiring the worker for a job with an agreement .
            </p>
        </p>
        <md-divider></md-divider>
        <h3>
            <md-icon ng-bind="'chrome_reader_mode'">
            </md-icon>
            <b>FEATURES</b>
        </h3>
        <md-list class="textData">
            <md-list-item class="md-3-line">
                <md-icon ng-bind="'radio_button_checked'"></md-icon>
                Large number of categories – almost all the existing application have a field constraint in them such as some apps are totally bound to corporate field. But in our application we don’t have any field constraint, it caters to large number of categories
                like corporate, industrial, household needs and many more
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon ng-bind="'radio_button_checked'"></md-icon>
                Single app for hire and work: Both hire and work functions are incorporated in a single application, so a user doesn’t need to download two apps for work and hire process. It saves user time and device memory
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon ng-bind="'radio_button_checked'"></md-icon>
                Employers can Bargain: Gives the employers a chance to bargain for the particular job through chatting with the employees for fufther negotiation of the details of accomplishment and price .
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon ng-bind="'radio_button_checked'"></md-icon>
                No need of previous experience: there are some apps which require some previous experience to do the job. But in our app a person can work without having any previous experience as some people doesn’t have any degree but are skilled enough to that work
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon ng-bind="'radio_button_checked'"></md-icon>
                Real-Time posting and chatting: Project posting is done in real time to help the employer to see which worker have accepted his/her request instantly and which helps the employer to chat or call the worker and negotiate about the project
            </md-list-item>

        </md-list>

        <md-divider></md-divider>
        <h3>
            <md-icon ng-bind="'chrome_reader_mode'">
            </md-icon>
            <b>Frameworks And Language Dependency</b>
        </h3>
        <md-content layout="row">
            <md-card flex="18" layout="column">
                <md-content layout-padding>
                    <img src="/img/frameworks/nodejs.jpg" height="150px" width="210px" alt="">
                </md-content>
                <h5 style="text-align: center"><b>NODE JS</b></h5>
                <md-content layout-padding layout="column">

                    <p>
                        Nodejs is Used as a back-end server language because of its sigle threaded non-blocking io
                    </p>
                </md-content>
            </md-card>

            <md-card flex="18" layout="column">
                <md-content layout-padding>
                    <img src="/img/frameworks/express.png" height="150px" width="210px" alt="">
                </md-content>
                <h5 style="text-align: center"><b>EXPRESS JS</b></h5>
                <md-content layout-padding layout="column">

                    <p>
                        Express js Servers are used for all sorts of Rest api calls with minimalistic requirements.
                    </p>
                </md-content>
            </md-card>

            <md-card flex="18" layout="column">
                <md-content layout-padding>
                    <img src="/img/frameworks/mongodb.png" height="150px" width="210px" alt="">
                </md-content>
                <h5 style="text-align: center"><b>NODE JS</b></h5>
                <md-content layout-padding layout="column">

                    <p>
                        Monfo db is used a a primary No sql database for user data storage
                    </p>
                </md-content>
            </md-card>

            <md-card flex="18" layout="column">
                <md-content layout-padding>
                    <img src="/img/frameworks/redis.jpg" height="150px" width="210px" alt="">
                </md-content>
                <h5 style="text-align: center"><b>REDIS</b></h5>
                <md-content layout-padding layout="column">

                    <p>
                        Redis db is used for session management for secure use creadential maintainence .
                    </p>
                </md-content>
            </md-card>

            <md-card flex="18" layout="column">
                <md-content layout-padding>
                    <img src="/img/frameworks/firebase.png" height="150px" width="210px" alt="">
                </md-content>
                <h5 style="text-align: center"><b>FIREBASE</b></h5>
                <md-content layout-padding layout="column">

                    <p>
                        For real time push notification and chatting Firebase db and Firebase cloud messaging is used
                    </p>
                </md-content>
            </md-card>


        </md-content>

    </md-content>
</md-content>