<md-content>
    <md-content layout-padding style="font-size:15px" layout="column">
        <img src="/img/background_freelancer_image.png" width="1200px" alt="">

        <p class="textData">
            <md-icon ng-bind="'swap_calls'"></md-icon>
            Workflow of some common process are described below.
        </p>

        <md-content layout="row">
            <md-content flex="50" layout-padding>
                <img src="img/flowchart/REGISTER.png" class="img-thumbnail" alt="" width="550px" height="350px" alt="">
            </md-content>
            <md-content flex="50" layout-padding layout="column">
                <h3>
                    <md-icon ng-bind="'perm_identity'"></md-icon>
                    REGISTRATION
                </h3>
                <p class="textData">
                    Signup process in the app is a two step verification process in which a user is needs to have a valid <b>EMAIL</b> and a valid <b>Phone Number</b> . Phone number is verified by an otp and an email verifiation link for account verification
                    is sent to the user for the complete account setup . A user register and completes his email verification he can login to freelance
                </p>

                <md-list>
                    <md-subheader class="md-primary">REQUIRED</md-subheader>

                    <md-list-item class="md-1-line">
                        AN EMAIL ID
                    </md-list-item>
                    <md-list-item class="md-1-line">
                        PHONE NUMBER
                    </md-list-item>
                </md-list>
            </md-content>
        </md-content>

        <md-content layout="row">

            <md-content flex="50" layout-padding layout="column">
                <h3>
                    <md-icon ng-bind="'vpn_key'"></md-icon>
                    LOGIN
                </h3>
                <p class="textData">
                    The login process is a simple username/password combination which lets you access your account . After the account is Logged in a list of categories is given to the user from which he can choose the category in which he belongs so that he is notfiied
                    when a project of his category comes up . P.S. this category selection is a one time process.
                </p>


            </md-content>
            <md-content flex="50" layout-padding>
                <img src="img/flowchart/LOGIN.png" class="img-thumbnail" alt="" width="550px" height="450px" alt="">
            </md-content>
        </md-content>

        <md-content layout="row">
            <md-content flex="50" layout-padding>
                <img src="img/flowchart/EMPLOYER.png" class="img-thumbnail" alt="" width="550px" height="450px" alt="">
            </md-content>
            <md-content flex="50" layout-padding layout="column">
                <h3>
                    <md-icon ng-bind="'supervisor_account'"></md-icon>
                    HIRE MODE
                </h3>
                <p class="textData">
                    To hire a person a user must be in hiremode . Hire mode can be set by a toggle in the app . A user can either hire a single person or post a project and hire a group of people . For the purpose of hiring a form wih the relevant details is filled up which
                    contains all the details of the work with tentaive date of accomplishment . When hired for a job the worker gets notified for the job and he needs to accept or reject the offer . Once accepted he can hired by the employer with an agreement
                </p>
            </md-content>
        </md-content>


        <md-content layout="row">
            <md-content flex="50" layout-padding layout="column">
                <h3>
                    <md-icon ng-bind="'work'"></md-icon>
                    WORK MODE
                </h3>
                <p class="textData">
                    In worker mode a person can work as a freelancer . A user in worker mode can receive work based on his domain . Once he/he accepts a project the employee and the employer can go for futher discussion on a chatting platform for further negotiation . If
                    the negotiation goes well the employer can hire him with agreement of accomplishment .
                </p>
                <p class="textData">
                    A worker can work for multiple jobs and can monitor his earnings in the dashboard . Freelance is neither subjected to the quality of work delivered nor the amount for negotiation of work . However the employer can have feedbacks on a worker based on his
                    performace and can rate his work.
                </p>
                <p class="textData">
                    A worker can be certified by the Freelance authority on successful verification of the documents enlisted in his accunt and can be promoted based on that.
                </p>
            </md-content>
            <md-content flex="50" layout-padding>
                <img src="img/flowchart/WORKER.png" class="img-thumbnail" alt="" width="550px" height="450px" alt="">
            </md-content>
        </md-content>


    </md-content>
</md-content>